---
import Title from '../components/Title.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
	<head>
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
		</style>
		<meta charset='UTF-8' />
		<meta name='description' content='Astro description' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/portfolio/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Title />
		<slot />
	</body>
</html>
